<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <section class="landing">
    <div class="landing-content">
      <h3>Jessica Njuguna</h3>
      <h1>Data Scientist</h1>
    </div>
  </section>
  <section class="about">
    <div class="container-about">
      <div class="about-content">
        <h1 class="about-title">Hi, I'm Jessica</h1>
        <p>Vision oriented data scientist and analyst</p>
        <p>I have three main passions</p>
        <ul>
          <li>Data</li>
          <li>Community Development</li>
          <li>Potatoes</li>
        </ul>
        <p>I recently graduated from Explore Data Science Academy with a Black Belt and I'm currently working at
          ExploreAI
          as a
          data scientist</p>
      </div>
      <div class="about-img-container">
      </div>
    </div>
  </section>
  <section class="interest">
    <div class="container-interest">
      <div class="about-interest">
        <h1>Areas of interest</h1>
        <p>I work with clients from different industries to create unique and memorable logos for their business</p>
      </div>
      <div class="images-interest-container">
        <div class="interest-item">
          <img src="assets/quote.png" alt="" class="interest-img">
          <h3 class="interest-text">NLP</h3>
        </div>
        <div class="interest-item">
          <img src="assets/bulb.png" alt="" class="interest-img">
          <h3 class="interest-text">Business Intelligence</h3>
        </div>
        <div class="interest-item">
          <img src="assets/learn.png" alt="" class="interest-img">
          <h3 class="interest-text">Machine learning</h3>
        </div>
        <div class="interest-item">
          <img src="assets/story.png" alt="" class="interest-img">
          <h3 class="interest-text">Data Storytelling</h3>
        </div>
        <div class="interest-item">
          <img src="assets/cloud.png" alt="" class="interest-img">
          <h3 class="interest-text">Cloud Computing</h3>
        </div>
        <div class="interest-item">
          <img src="assets/analysis.png" alt="" class="interest-img">
          <h3 class="interest-text">Data Analytics</h3>
        </div>

      </div>
    </div>
  </section>
  <section class="links">
    <div class="links-container">
      <h1>Other Platforms</h1>
      <div class="platforms">
        <a href="">
          <div class="platform-items"><img class="platform-img" src="assets/git.jpg" alt="">
            <p><strong>Github</strong></p>
          </div>
        </a>
        <a href="">
          <div class="platform-items">
            <img class="platform-img" src="assets/linked.jpg" alt="">
            <p><strong>LinkedIn</strong></p>
          </div>
        </a>
      </div>
      <a href=""><button class="btn">Get In Touch</button></a>
    </div>
  </section>
</body>

</html>