<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <section class="about">
    <div class="about-container">
      <div class="about-text">
        <h1>
          GET TO KNOW ME
        </h1>
        <p>picked up the camera at a young age, taking snapshots all around the house with a simple point-and-shoot.
          This early
          interest eventually led to a career in photography, and it's something I've been doing professionally for over
          10 years.

          I am based in Beechtown, but I can also be tapped to take on photography assignments out of state.</p>
        <a href=""><button class="btn">See work</button></a>

      </div>
      <div class="about-image"></div>

    </div>
  </section>
  <section class="timeline">

  </section>
  <app-timeline></app-timeline>

</body>

</html>